@import "susy";
@import "breakpoint";
@import "color-schemer";
@import "bourbon@5.*";
@import "neat@2.*";
@import "modularscale@3.*";

body {
  padding:0;
  margin:0;
  font-family:verdana;
}

.tab { 
    margin-left: 90px;
}

.grid-1 {
  display:grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}

.grid-3 {
  display:grid;
  grid-template-columns: 1fr 5fr 4fr;
  grid-auto-rows: auto;
  background-color: #CEE3F8;
}

.grid-20-10-1 {
  display:grid;
  grid-template-columns: 20fr 10fr 1fr;
  grid-auto-rows: auto;
}

header {
  background-color: #F0F0F0;
  border-bottom: solid black;
  border-width: thin;
  align-content:flex-start;
}

header ul {
  margin: 0;
  list-style-type:none;
}

header li {
  display: inline;
  font-size: 12px;
  font-family:verdana;
}

header li:hover {
  text-decoration: underline;
}

#hot-hack {
  border: solid black;
  border-width:thin;
  border-bottom:solid white;
  color:red;
}

#red-hack {
  color: red;
}

nav {
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: solid #5f99cf;
  border-width: thin;
  position: relative;
}

.reddit-pic {
  height: 75px;
  width: 200px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav > div > ul > li {
  display: inline;
  font-weight: bold;
  font-size: 22px;
  background-color: #FBFBFB;
  color: #5f99cf;
  margin-left: .1em;
  margin-right: .1em;
  padding-left: .3em;
  padding-right: .3em;
}

.profile-ops > div {
  background-color: #FBFBFB;
  color: #5f99cf;
  border-top-left-radius: 5px;
  margin-top: 25px;
  float:right;
  text-align: right;
  padding-right: 1em;
}

.profile-ops li {
  display: inline;
  list-style-type: none;
  font-size: 15px;
}

.search-container {
  margin-top: 1em;
  display: inline-block;
  width: 250px;

}

.search-text-input {
  display:inline;
  height: 35px;
  width: 300px;
  background-color:white;
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  border: solid black;
  border-width: thin;
}
/*
.search-button {
  display:inline;
  background-color: white;
  border:none;
  margin-left: .75em;
  vertical-align: middle;

}
*/

/* USER ACTION BUTTONS */

.user-action-button {
  background-color: #DEF2FF;
  height: 3em;
  margin-top: .25em;
  font-size: 17px;
  border: solid #fffff0;
  color: #4682b4;
  font-weight:bold;
  width: 100%;
  border-radius: 5%;
}

.user-action-button:hover {
  background-color: #3a5eca;
  color: white;
}



/* POST */

.post {
  display:grid;
  grid-template-columns: 1fr 1fr 7fr;
    /*  grid-auto-rows: 200px; */
}

.post-number {
  margin-top: 40px;
  font-size: 30px;
  text-align:right;
  color: grey;
}

.post-upvotes {
  text-align:center;
  color:grey;
}

.arrow {
  border: solid grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
    margin-top: 40px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.post-body {
  margin-left: 1em;
  margin-top: 20px;
}

.post-title {
  font-size: 22px;
  text-decoration:none;
  margin-bottom: 0;
}

.post-location {
  font-size: 12px;
}

.submit-link {
  color: #4682b4;
  text-decoration:none;
}

.post-options {
  color:grey;
  font-weight:bold;
  margin-bottom: 1em;
}

.post-options > span {
  margin-right: .25em;
}

/*
html {
  padding: 0 10px;
  margin: 0;
  color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
    min-width: inherit
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
*/
/** {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
h1,
p {
  text-align: center;
}
p {
  width: 100%;
  max-width: 500px;
  margin: auto;
}
a:link,
a:hover,
a:active,
a:visited {
  -webkit-transition: color 150ms;
  transition: color 150ms;
  color: #95a5a6;
  text-decoration: none;
}
a:hover {
  color: #7f8c8d;
  text-decoration: underline;
}**/

.contain {
  width: 100%;
}
.row {
  overflow: scroll;
  width: 100%;
  padding-left: 100px;

}
.row__inner {
  -webkit-transition: 450ms -webkit-transform;
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 20px 0;
  padding-bottom: 10px;
}
.tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140.625px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 450ms all;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}
.tile__img {
  width: 250px;
  height: 140.625px;
  -o-object-fit: cover;
     object-fit: cover;
}
.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.9)), to(rgba(0,0,0,0)));
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
}
.tile__details:after,
.tile__details:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}
.tile__details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
.tile__details:before {
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -18px;
  text-align: center;
  z-index: 2;
}
.tile:hover .tile__details {
  opacity: 1;
}
.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: white;
}
.row__inner:hover {
  -webkit-transform: translate3d(-62.5px, 0, 0);
          transform: translate3d(-62.5px, 0, 0);
}
.row__inner:hover .tile {
  opacity: 0.3;
}
.row__inner:hover .tile:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}
.tile:hover ~ .tile {
  -webkit-transform: translate3d(125px, 0, 0);
          transform: translate3d(125px, 0, 0);
}